@font-face {
    font-family: 'BlackDiamond';
    src: url('../fonts/BlackDiamond.eot');
    src: local('../fonts/Black Diamond'), local('../fonts/BlackDiamond'),
        url('../fonts/BlackDiamond.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BlackDiamond.woff2') format('woff2'),
        url('../fonts/BlackDiamond.woff') format('woff'),
        url('../fonts/BlackDiamond.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}